body {
  margin: 0;
  height: 100vh;
  background-color: black;
}

#player-choice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
  gap: 100px;
}

#player-choice-text {
  grid-column: 1/3;
  color: white;
  font-family: "Radio Canada", sans-serif;
  font-size: 40px;
  text-align: center;
  align-self: flex-end;
}

.btn-choice {
  text-align: center;
  color: white;
  border: 1px solid white;
  width: 200px;
  height: 200px;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 100px;
  transition: all 0.2s;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  border-radius: 50px;
}

.btn-choice:hover,
.btn-choice.chosen {
  background-color: white;
  color: black;
}

#X {
  justify-self: end;
}

#O {
  justify-self: start;
}

#game-board.disabled {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  opacity: 0;
}

#game-board {
  display: grid;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(3, 200px);
  justify-items: center;
  justify-content: center;
  height: 100vh;
  align-content: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#game-board div:first-child {
  border-radius: 50px 0px 0px 0px;
}

#game-board div:nth-child(3) {
  border-radius: 0px 50px 0px 0px;
}

#game-board div:nth-child(7) {
  border-radius: 0px 0px 0px 50px;
}

#game-board div:last-child {
  border-radius: 0px 0px 50px 0px;
}

.board-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid white;
  color: white;
  font-size: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  transition: all 0.2s ease;
}

.board-cell:hover {
  background-color: white;
  color: black;
}
